@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
  text-decoration: none;
  list-style: none;
  font-style: none;
  transition: 0.2s linear;
  border: none;
}

.botao {
  padding: 0.7rem 2rem;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border-radius: 30px;
  font-size: 15px;
  color: #ffffff;
  cursor: pointer;
}
.botao:hover {
  background: linear-gradient(#85e59f, #81d4e9);
}

header {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  z-index: 100;
}
header .header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
header .nav__container ul {
  display: flex;
  gap: 1rem;
}
header .nav__container ul li {
  color: #6b6b6b;
  font-weight: 600;
  font-size: 18px;
}
header .nav__container ul li:hover {
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: #31d35c;
  text-underline-offset: 1.6rem;
  text-decoration-thickness: 2px;
}
header .icon__hamburger,
header .icon__close {
  display: none;
  cursor: pointer;
  font-size: 24px;
}
header .botao__header button {
  padding: 0.7rem 2rem;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border-radius: 30px;
  font-size: 15px;
  color: #ffffff;
  cursor: pointer;
}
header .botao__header button:hover {
  background: linear-gradient(#85e59f, #81d4e9);
}

.container__home {
  background: url(themes/images/bg-intro-desktop.svg);
  background-position: 35rem -12rem;
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.container__home .info__home {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
  margin: 0 7rem;
  width: 40%;
  color: #afafaf;
}
.container__home .info__home h1 {
  font-size: 50px;
}
.container__home .info__home p {
  font-size: 18px;
  width: 90%;
}
.container__home .info__home .botao {
  width: 40%;
}
.container__home .img__celular {
  position: relative;
  right: 0;
  top: 2.8rem;
  overflow: hidden;
}
.container__home .img__celular img {
  position: relative;
  height: 980px;
  right: -17%;
  width: 100%;
}

.container__about {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 6rem;
}
.container__about .container__title {
  width: 50%;
}
.container__about .container__title h2 {
  font-size: 35px;
  color: #494949;
  margin-bottom: 2rem;
}
.container__about .container__title p {
  font-size: 18px;
  color: #6b6b6b;
}
.container__about .container__conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.container__about .container__conteudo .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.8rem;
  width: 80%;
}
.container__about .container__conteudo .card .title h3 {
  font-size: 22px;
  color: #494949;
}
.container__about .container__conteudo .card .info p {
  font-size: 18px;
  color: #6b6b6b;
}

article {
  padding: 6rem;
}
article h2 {
  font-size: 35px;
  margin-bottom: 4rem;
  color: #494949;
}
article .container__article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}
article .container__article .articles__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 15px;
  color: #6b6b6b;
}
article .container__article .articles__container img {
  height: 250px;
  width: 250px;
  border-radius: 15px;
}
article .container__article .articles__container span {
  font-size: 15px;
  margin: auto 1rem;
}
article .container__article .articles__container p {
  font-size: 18px;
  width: 80%;
  margin: auto 1rem;
}

@media screen and (max-width: 980px) {
  header .header__container .nav__container {
    background-color: #ffffff;
    position: fixed;
    top: 5rem;
    left: 6rem;
    right: 6rem;
    padding: 2rem 5rem;
    border-radius: 10px;
    display: block;
  }
  header .header__container .nav__container.active {
    display: none;
  }
  header .header__container .nav__container ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }
  header .header__container .nav__container ul li {
    text-decoration: none;
  }
  header .header__container .icon__hamburger {
    display: block;
  }
  header .header__container.menu-open .icon__hamburger {
    display: none;
  }
  header .header__container.menu-open .icon__close {
    display: block;
  }
  header .header__container .botao__header {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */